<a href="https://colab.research.google.com/github/abaskon/abinasokan/blob/main/unique_stations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/1.json')
df2 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/2.json')
df3 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/3.json')
df4 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/4.json')
df5 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/5.json')
df6 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/6.json')

df7 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/7.json')
df8 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/8.json')
df9 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/9.json')
df10 = pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/10.json')
df11= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/11.json')
df12= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/12.json')

df13= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/13.json')
df14= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/14.json')
df15= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/15.json')
df16= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/16.json')
df17= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/17.json')
df18= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/18.json')

df19= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/19.json')
df20= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/20.json')
df21= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/21.json')
df22= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/22.json')
df23= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/23.json')
df24= pd.read_json('https://raw.githubusercontent.com/abaskon/abinasokan/main/Datas/24.json')

In [ ]:
df1.head()

   access  ... score
0       1  ...   NaN
1       1  ...   NaN
2       1  ...   NaN
3       1  ...   NaN
4       1  ...   9.0

[5 rows x 11 columns]

In [4]:
from geopy.geocoders import Nominatim

In [6]:
FDB =pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24],join='outer').drop_duplicates(subset='id', keep="first").reset_index(drop=True)

In [9]:
FDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1263 entries, 0 to 1262
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   access     1263 non-null   int64
 1   address    1263 non-null   object
 2   icon       1263 non-null   object
 3   icon_type  1263 non-null   object
 4   id         1263 non-null   int64
 5   latitude   1263 non-null   float64
 6   longitude  1263 non-null   float64
 7   name       1263 non-null   object
 8   stations   1263 non-null   object
 9   url        1263 non-null   object
 10  score      101 non-null    float64
dtypes: float64(3), int64(2), object(6)
memory usage: 108.7+ KB

In [7]:
FDB.head()

   access  ... score
0       1  ...   NaN
1       1  ...   NaN
2       1  ...   NaN
3       1  ...   NaN
4       1  ...   9.0

[5 rows x 11 columns]

In [10]:
geolocator = Nominatim(user_agent="geoapiExercises")

#FDB=FDB.head(100)

FDB["country"] = ""

for i in range(len(FDB.country)):
  FDB.country[i]= (geolocator.reverse(str(FDB.latitude[i])+","+str(FDB.longitude[i]))).raw['address'].get('country')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
FDB['country'].value_counts(ascending=True)

বাংলাদেশ                 3
Bhutan                   3
پاکستان                  5
ශ්‍රී ලංකාව இலங்கை      13
नेपाल                   49
India                 1190
Name: country, dtype: int64

In [12]:
FDB = FDB[FDB.country == 'India']

In [13]:
FDB['country'].value_counts(ascending=True)

India    1190
Name: country, dtype: int64

In [14]:
FDB.to_csv('yay.csv')